<!DOCTYPE html>
<div class="col-md-12 mx-auto menu">
    <div class="row ">
        <div class="col-sm-6 col-md-4 my-1 " *ngFor="let produit of produits;">
            <div class="card grid">

                <img [src]="urlimg+produit.image" class="produit" alt=" ... ">

                <p class="nom">{{ produit.designation }}<br>
                    <span class="prix">{{ produit.prixunitaire}}</span> </p>

                <div class="rating">
                    <!--
                    --><a href="#5" title="Donner 5 étoiles">☆</a>
                    <!--
                    --><a href="#4" title="Donner 4 étoiles">☆</a>
                    <!--
                    --><a href="#3" title="Donner 3 étoiles">☆</a>
                    <!--
                    --><a href="#2" title="Donner 2 étoiles">☆</a>
                    <!--
                    --><a href="#1" title="Donner 1 étoile">☆</a>
                </div>

                <a>
                    <p class="commmade"> Ajouter au panier</p>
                </a>


            </div>

        </div>
    </div>
</div>