.col-md-12 {}

.card {
    width: 200px;
    height: 250px;
    text-align: center;
    align-content: center;
}

.produit {
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 40px;
}

.prix {
    color: red;
}