<!DOCTYPE html>

<html>

<body>

    <div>
        <h1 class="categories"> Catégories Poduits</h1>
        <br>
        <br>
        <ul class="produits">
            <li class="item">

                <a>Chaussures</a>
            </li>
            <br>
            <li class="item">

                <a>Vêtements</a>
            </li>
            <br>
            <li class="item">
                <a>Apareilles</a>
            </li>
            <br>
            <li class="item">
                <a>Accessoires</a>
            </li>
            <br>
            <li class="item">
                <a>Fuits</a>
            </li>
            <br>
            <li class="item">
                <a>Légumes</a>
            </li>
            <br>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div>
        <h1 class="categories"> Catégories Poduits</h1>
        <br>
        <br>
        <ul class="produits">
            <img src="/assets/vendeurs.jpg" alt="partenaire" id="partenaire">
            <br>
            <li><a class="itemp">Vendeurs</a></li>
            <br>
            <img src="/assets/Livreur.jpg" alt="livreurs" id="partenaire">
            <br>
            <li>
                <a class="itemp"> Livreur</a>
            </li>
        </ul>
    </div>
    <div>
        <h1 class="categories"> Catégories Poduits</h1>
        <br>
        <br>
        <ul class="produits">

            <li>
                <a class="item">Tél:77 623 63 27</a>
            </li>

            <li>
                <a class="item">Tél:77 623 63 27 </a>
            </li>
        </ul>

    </div>
</body>

</html>