<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm">
        <br>
        <br>
        <h3 class="copyring">Copyring@jeeré</h3>

        <label for="textArea" class="message">Envoyer un message</label>
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <br>
        <br>
        <button type="submit" class="btn">Submit</button>


    </div>
    <div class="col-sm ">
        <br>
        <br>
        <h3 class="copyring">Liens externes</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </div>
    <div class="col-sm ">
        <br>
        <br>
        <h3 class="copyring">Sponsor</h3>
    </div>
</div>