#logo {
    width: 30px;
}

.nav-item {
    width: 100px;
    height: auto;
    margin: 8px;
    background-color: white;
}

.nav-link {
    font-size: 15px;
}

#mondiv {
    width: 1400px;
    height: 600px;
}

.container-fluid {
    background-color: white;
}

.spac {
    width: 290px;
}